In [3]:
from langchain.chat_models import ChatOpenAI
from langchain.agents import create_pandas_dataframe_agent

import pandas as pd

In [4]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [12]:
chat = ChatOpenAI(openai_api_key = openai_api_key, model_name='gpt-4', temperature=0.0)
agent = create_pandas_dataframe_agent(chat, iris, verbose=True)

In [10]:
agent.run("What is the average sepal_length?")

'The average sepal_length is approximately 5.843.'

In [11]:
iris['sepal_length'].mean()

5.843333333333334

In [13]:
agent.run("What is the max sepal width for setosa?")

> Entering new AgentExecutor chain...
Thought: To find the maximum sepal width for the species 'setosa', I need to filter the dataframe for rows where the species is 'setosa', then find the maximum value in the 'sepal_width' column.
Action: python_repl_ast
Action Input: df[df['species'] == 'setosa']['sepal_width'].max()
Observation: 4.4
Thought:I now know the final answer
Final Answer: The maximum sepal width for setosa is 4.4.

> Finished chain.

'The maximum sepal width for setosa is 4.4.'